*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
output.json
*.jks
*.keystore
/keystore/*.jks
/keystore/*.keystore
/keystore/CREDENTIALS.txt
